.config
*.swp
*.bak
*.udb
*.files
*.out
*.suo
*.sdf
*.opensdf
*.pdb
*.idb
*.tlog
*.ilk
*.obj
tags
*.scc
*.vim
*.viminfo
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults
*~
*.vpj
*.vpw
*.vpwhist
*.vtg
*.git/*
*.old
*.log
*.dll
*.dox
*.sbr
Debug/*/
build/openrtos/*/
build/win32/*/
build/linux/*/
tool/*.cmd
ipch/
trunk/build/win32/Debug/*
/project/FastBuildPcNorWriter/Debug
/project/FastBuildPcNorWriter/PcNorWriter
/project/FastBuildPcNorWriter/PcNorWriter.sdf
/project/test_speex/test_drive.c
/project/test_speex/test_ntfs.c
/project/test_speex/test_openrtos.c
/project/test_speex/test_win32.c
/project/test_speex/fat/test_f.h
/project/test_speex/fat/test_fat.c
/project/test_speex/fat/testdrv_f.c
/project/test_speex/fat/testdrv_f.h
/project/test_speex/fat/testport_f.c
[Tt]humbs.db
~$E*
.svn/
/wiki
*.exe
man/
README
README.*
*.m4
*.si4project/
*.png
*.svg
*.skip
*.wav
*.jpg
*.pch
trunk/samples/MicroVoiceLite/Debug/*
*.ini
*.db
*.db-shm
*.db-wal
*.a
*.pjt
*.lyx
*.sgml
.vs/
trunk/mediastreamer2/include/mediastreamer2/mrgtmp0
trunk/mediastreamer2/include/mediastreamer2/mrgtmp1
trunk/mediastreamer2/include/mediastreamer2/mrgtmp2
trunk/mediastreamer2/include/mediastreamer2/mrgtmp3
trunk/mediastreamer2/include/mediastreamer2/mrgtmp4
trunk/mediastreamer2/include/mediastreamer2/mrgtmp5